$lightgreen: #06e090
$green: #04AA6D
$blue: #6ad7fb
$red: #fb6a6a
$lightgrey: #f3f3f3
$grey: #ddd
$midgrey: #999999
$textgrey: #666
$darkgrey: #404040
    

body
  overflow-y: hidden
main
  padding: 10px
  padding-left: 5px
  margin-right: 50px
  overflow-y: scroll
  height: 100vh
#list
  // display: grid
  // grid-template-columns: 5px max-content
  transition: 0.5s
  &.any_streets_mode
    // grid-template-columns: 10px max-content
#list .list_item_wrapper
  display: flex
#list .list_item_container
  display: flex
  flex-wrap: wrap
#list .list_item
  display: block
  padding: 2px 4px
  color: $darkgrey
  border-radius: 5px
  &.grey_bg
    background: $lightgrey
#list .list_indicator
  display: block
  width: 5px
  margin-right: 5px
  // height: 1fr
  background-color: $grey
  transition: 0.25s
  &.hidden
    opacity: 0
    margin-right: 0px
  .indicator_inner
    margin-left: 1px
    height: 100%
    width: 4px
    transition: 0.25s
    background-color: $red
    opacity: 0
  &.blue
    background-color: $blue
  &.blue_red
    background-color: $blue
    .indicator_inner
      opacity: 1
  &.red
    background-color: $red
  &.green
    background-color: $lightgreen
#list .input_container
  height: 22.4px
  display: flex
  align-items: center
#list input[type="text"]
  // font-size: 16px
  // height: 12px
  font-size: 10px
  width: 30px
  padding: 1px 2px
  margin: 0 4px
  outline: none
  border: 1px solid $textgrey
  border-radius: 3px
  transition: 0.5s
  &:focus
    border: 1px solid $green
  &.hidden
    opacity: 0
    pointer-events: none
  

#sidebar
  position: fixed
  right: 0
  top: 0
  width: 200px
  height: 100vh
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1)
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  background-color: #fff
  transform: translateX(150px)
  transition: transform 0.5s ease-in-out
  z-index: 2
  &.open
    transform: translateX(0px)

#action_buttons
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 10px
  width: 100%
  padding-top: 10px
  height: calc( 100vh - 50px )
  // border: 1px solid #000
  // height: 100%
  .button_wrapper
    width: 100%
    display: flex
  .button_container
    width: 50px
    display: flex
    justify-content: center
    // display: flex
    // align-items: start
  #reset_button_container
    margin-left: 40px
  .button_desc
    font-size: 10px
    width: 140px
    font-family: sans-serif
    background-color: $lightgrey
    padding: 5px
    border-radius: 5px
    margin: auto 0
  #reset_button_desc
    width: 100px
  button
    line-height: 0
    box-sizing: border-box
    padding: 7px
    color: $midgrey
    width: 30px
    height: 30px
    border-radius: 5px
    border: 2px solid $midgrey
    display: flex
    justify-content: center
    align-items: center
    &.active
      color: $green
      border-color: $green
  #reset_button
    margin-top: auto
  #defaults_button
    padding: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    row-gap: 4.5px
    transition: 0.5s   
    div
      height: 1.5px
      width: 16px
      background-color: $midgrey
      transition: 0.5s   
    &.active div
      background-color: $green
    div#midline
      background-color: $blue
#toggle_sidebar_button
  width: 30px
  height: 30px
  margin: 10px
  display: flex
  justify-content: center
  align-items: center
  font-size: 15px
  background-color: $lightgrey
  border-radius: 5px
  border: 2px solid $midgrey
  color: $midgrey
  cursor: pointer
  transition: 0.5s
  svg
    transform: scaleX(1)
    transition: 0.5s
    display: block
  &.open 
    border-color: $green
    background-color: #fff
    svg
      transform: scaleX(-1) translateX(-0.5px)
      color: $green

#dark_background
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  pointer-events: none
  background-color: transparentize(#000, 0.5)
  opacity: 0
  transition: 0.5s
  z-index: 1
  &.shown
    opacity: 1
    pointer-events: all
    backdrop-filter: blur(2px)
    





