body {
  overflow-y: hidden;
}

main {
  padding: 10px;
  padding-left: 5px;
  margin-right: 50px;
  overflow-y: scroll;
  height: 100vh;
}

#list {
  transition: 0.5s;
}
#list .list_item_wrapper {
  display: flex;
}

#list .list_item_container {
  display: flex;
  flex-wrap: wrap;
}

#list .list_item {
  display: block;
  padding: 2px 4px;
  color: #404040;
  border-radius: 5px;
  transition: 0.5s;
}
#list .list_item.grey_bg {
  background: #f3f3f3;
  margin-right: 3px;
}
#list .list_item.grey_bg.marked {
  background: rgba(243, 243, 243, 0.5);
}
#list .list_item.marked {
  color: #999999;
  text-decoration: line-through;
}

#list .list_indicator {
  display: block;
  width: 5px;
  margin-right: 5px;
  background-color: #ddd;
  transition: 0.25s;
}
#list .list_indicator.hidden {
  opacity: 0;
  margin-right: 0px;
}
#list .list_indicator .indicator_inner {
  margin-left: 1px;
  height: 100%;
  width: 4px;
  transition: 0.25s;
  background-color: #fb6a6a;
  opacity: 0;
}
#list .list_indicator.blue {
  background-color: #6ad7fb;
}
#list .list_indicator.blue_red {
  background-color: #6ad7fb;
}
#list .list_indicator.blue_red .indicator_inner {
  opacity: 1;
}
#list .list_indicator.red {
  background-color: #fb6a6a;
}
#list .list_indicator.green {
  background-color: #06e090;
}

#list .address_container {
  height: 22.4px;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

#list input[type=text] {
  font-size: 10px;
  width: 30px;
  padding: 1px 2px;
  margin: 0 2px;
  outline: none;
  border: 1px solid #666;
  border-radius: 3px;
  transition: 0.5s;
}
#list input[type=text]:focus {
  border: 1px solid #04AA6D;
}
#list input[type=text].hidden {
  opacity: 0;
  pointer-events: none;
}

#list .address {
  font-size: 10px;
  padding: 1px 2px;
  margin: 0 2px;
  border: 1px solid #04AA6D;
  border-radius: 3px;
  transition: 0.5s;
  font-family: sans-serif;
  color: #666;
  color: #04AA6D;
}
#list .address.default {
  color: #06bcf9;
  border-color: #06bcf9;
}
#list .address.marked {
  text-decoration: line-through;
  color: #999999;
  border-color: #bfbfbf;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  transform: translateX(150px);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}
#sidebar.open {
  transform: translateX(0px);
}

#action_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  padding-top: 10px;
  height: calc(100vh - 50px);
}
#action_buttons .button_wrapper {
  width: 100%;
  height: 30px;
  display: flex;
}
#action_buttons .button_container {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
}
#action_buttons #reset_button_container {
  margin-left: 40px;
}
#action_buttons .button_desc {
  font-size: 10px;
  width: 140px;
  font-family: sans-serif;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
  margin: auto 0;
}
#action_buttons #reset_button_desc {
  width: 100px;
}
#action_buttons button {
  line-height: 0;
  box-sizing: border-box;
  padding: 7px;
  color: #999999;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#action_buttons button.active {
  color: #04AA6D;
  border-color: #04AA6D;
}
#action_buttons #reset_button {
  margin-top: auto;
}
#action_buttons #defaults_button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4.5px;
  transition: 0.5s;
}
#action_buttons #defaults_button div {
  height: 1.5px;
  width: 16px;
  background-color: #999999;
  transition: 0.5s;
}
#action_buttons #defaults_button.active div {
  background-color: #04AA6D;
}
#action_buttons #defaults_button div#midline {
  background-color: #6ad7fb;
}

#toggle_sidebar_button {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 2px solid #999999;
  color: #999999;
  cursor: pointer;
  transition: 0.5s;
}
#toggle_sidebar_button svg {
  transform: scaleX(1);
  transition: 0.5s;
  display: block;
}
#toggle_sidebar_button.open {
  border-color: #04AA6D;
  background-color: #fff;
}
#toggle_sidebar_button.open svg {
  transform: scaleX(-1) translateX(-0.5px);
  color: #04AA6D;
}

#dark_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
#dark_background.shown {
  opacity: 1;
  pointer-events: all;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}/*# sourceMappingURL=style.css.map */