$lightgreen: #06e090
$green: #04AA6D
$lightblue: #6ad7fb
$blue: #06bcf9
$red: #fb6a6a
$palered: #f28c8c
$lightgrey: #f3f3f3
$midlightgrey: #ddd
$grey: #bfbfbf
$midgrey: #999999
$textgrey: #666
$darkgrey: #404040
    
body
  height: 100%
  // overflow: hidden
main
  // height: calc( 100vh - 50px )
  // padding: 10px
  // padding-left: 5px
  margin-right: 50px
  // overflow: hidden
  // overflow-y: scroll
#list
  zoom: 1.4
  margin: 10px
  margin-left: 5px
  transition: 0.5s
  &.any_streets_mode
#list .list_item_wrapper
  display: flex
#list .list_item_container
  display: flex
  flex-wrap: wrap
  flex-grow: 1
#list .list_item
  display: block
  padding: 2px 4px
  color: $darkgrey
  border-radius: 5px
  transition: 0.5s
  background: $lightgrey
  margin-right: 3px
  margin-top: 1px
  margin-bottom: 1px
  &.grey_bg
  &.grey_bg.marked
  &.visited
    color: $midgrey
    text-decoration: line-through
    background: transparentize($lightgrey, 0.5)
  &.canceled
    color: $palered
    text-decoration: line-through
    background: transparentize($lightgrey, 0.5)
  &.is_reordered
    background: $grey
#list .list_indicator
  display: block
  width: 5px
  margin-right: 5px
  // height: 1fr
  background-color: $midlightgrey
  transition: 0.25s
  &.hidden
    opacity: 0
    margin-right: 0px
  .indicator_inner
    margin-left: 1px
    height: 100%
    width: 4px
    transition: 0.25s
    background-color: $red
    opacity: 0
  &.blue
    background-color: $lightblue
  &.blue_red
    background-color: $lightblue
    .indicator_inner
      opacity: 1
  &.red
    background-color: $red
  &.green
    background-color: $lightgreen
#list .address_container
  height: 22.4px
  display: flex
  align-items: center
  padding-top: 2px
#list input[type="text"]
  // font-size: 16px
  // height: 12px
  font-size: 10px
  width: 30px
  padding: 1px 2px
  margin: 0 2px
  outline: none
  border: 1px solid $textgrey
  border-radius: 3px
  transition: 0.5s
  &:focus
    border: 1px solid $green
  &.hidden
    opacity: 0
    pointer-events: none
#list .address
  font-size: 10px
  padding: 1px 2px
  margin: 0 2px
  border: 1px solid $green
  border-radius: 3px
  transition: 0.25s
  color: $textgrey
  color: $green
  &.default
    color: $blue
    border-color: $blue
  &.visited
    text-decoration: line-through
    color: $midgrey
    border-color: $grey
  &.canceled
    text-decoration: line-through
    color: $palered
    border-color: $palered
#list .reordering_arrow
  height: 22.4px
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  font-size: 12px
  color: $textgrey
  margin-left: auto
  &.green
    color: $green
  &.cross
    color: $red
  &.hidden
    pointer-events: none
    opacity: 0
#list .removing_cross
  height: 22.4px
  display: flex
  justify-content: center
  align-items: center
  width: 22.4px
  font-size: 12px
  color: $red
  border-radius: 50%
  transition: 0.9s
  background: linear-gradient(to top, $palered 50%, white 50%) top
  background-size: 100% 200%
  &.hidden
    pointer-events: none
    opacity: 0
  &:active
    background-position: bottom

#sidebar
  position: fixed
  right: 0
  top: 0
  width: 200px
  height: 100%
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1)
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  background-color: #fff
  transform: translateX(150px)
  transition: transform 0.5s ease-in-out
  z-index: 2
  display: flex
  flex-direction: column
  &.open
    transform: translateX(0px)

#mode_buttons
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 10px
  width: 100%
  padding-top: 10px
  .button_wrapper
    width: 100%
    min-height: 30px
    display: flex
  .button_container
    height: 30px
    width: 50px
    display: flex
    justify-content: center
  #reset_button_container
    margin-left: 40px
  #reset_button_container button
    transition: 1.9s
    background: linear-gradient(to top, $palered 50%, white 50%) top
    background-size: 100% 220%
    svg
      transition: 2s
    &:active
      background-position: bottom
      svg
        transform: rotate(360deg)
  .button_desc
    font-size: 10px
    width: 140px
    background-color: $lightgrey
    padding: 5px
    border-radius: 5px
    margin: auto 0
    text-align: center
  #reset_button_desc
    width: 100px
  button
    line-height: 0
    box-sizing: border-box
    padding: 7px
    color: $midgrey
    width: 30px
    height: 30px
    border-radius: 5px
    border: 2px solid $midgrey
    display: flex
    justify-content: center
    align-items: center
    &.active
      color: $green
      border-color: $green
  .canceled_button
    &.active
      color: $red
    #plus_icon
      font-size: 12px
      margin-right: 2px
  .view_canceled svg
    padding: 2px
  #reset_button
    margin-top: auto
  #defaults_button
    padding: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    row-gap: 4.5px
    transition: 0.5s   
    div
      height: 1.5px
      width: 16px
      background-color: $midgrey
      transition: 0.5s   
    &.active div
      background-color: $green
    div#midline
      background-color: $lightblue
#toggle_sidebar_button
  width: 30px
  height: 30px
  margin: 10px
  display: flex
  justify-content: center
  align-items: center
  font-size: 15px
  background-color: $lightgrey
  border-radius: 5px
  border: 2px solid $midgrey
  color: $midgrey
  cursor: pointer
  transition: 0.5s
  margin-top: auto
  svg
    transform: scaleX(1)
    transition: 0.5s
    display: block
  &.open 
    border-color: $green
    background-color: #fff
    svg
      transform: scaleX(-1) translateX(-0.5px)
      color: $green

#dark_background
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100%
  pointer-events: none
  background-color: transparentize(#000, 0.5)
  opacity: 0
  transition: 0.5s
  z-index: 1
  &.shown
    opacity: 1
    pointer-events: all
    transform: translate3d(0, 0, 0)

.modal_overlay
  z-index: 3
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100%
  transition: 0.5s
  pointer-events: none
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  &.open
    opacity: 1
    pointer-events: auto
    background-color: transparentize(#000, 0.5)
.modal_wrapper
  z-index: 4
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  pointer-events: none
  transition: 0.5s
  transition-timing-function: ease-in
  transform: translateY(-30%)
  opacity: 0
  &.open
    transform: translateY(0)
    opacity: 1
.modal_content
  position: absolute
  width: 200px
  background-color: #fff
  border-radius: 10px
  display: grid
  grid-template-rows: 30px auto 30px
  pointer-events: none
  &.open
    pointer-events: auto
  .top
    display: flex
    justify-content: center
    align-items: center
    background-image: linear-gradient(transparentize($blue, 0.3), $blue)
    color: white
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  .middle
    border-right-width: 0
    border-left-width: 0
    display: flex
    flex-direction: column
    justify-content: center
    padding: 10px
    div
      background-color: $midlightgrey
      padding: 5px
      margin: 4px
    div.is_checked
      background-color: transparentize($red, 0.7)
  .bottom
    display: flex
    align-items: center
    div
      height: 100%
      width: 100%
      display: flex
      align-items: center
      justify-content: center
    .accept
      border-bottom-left-radius: 10px
      background-image: linear-gradient(transparentize($green, 0.3), $green)
      color: white
    .accept.inactive
      background-image: linear-gradient(transparentize($grey, 0.3), $grey)
      pointer-events: none
    .cancel
      border-bottom-right-radius: 10px
      background-image: linear-gradient(transparentize($red, 0.3), $red)
      color: white
.modal_content#confirmation
  display: flex
  flex-direction: column
  justify-content: center
  padding: 20px
  width: 250px
  .header
    margin: 0 auto 20px
  .buttons
    display: flex
    justify-content: space-evenly
    div
      border-radius: 5px
      color: white
      padding: 5px 7px
      font-size: 12px
      width: 32px
      text-align: center
    .accept
      background-color: $green
    .decline
      background-color: $red


.reasons_wrapper
  padding: 10px
  zoom: 1.4
  // padding-left: 5px
.reasons_header
  display: flex
  justify-content: center
  background-color: transparentize($palered, 0.3)
  color: white
  padding: 5px
  border-radius: 10px
  margin-bottom: 10px
  .addresses_amount
    background-color: #fff
    width: 30px
    height: 18px
    border-radius: 9px
    margin-right: 5px
    display: flex
    justify-content: center
    align-items: center
    color: transparentize($palered, 0.3)
  &.hidden
    display: none
.reasons_container
  section
    margin-bottom: 2px
    overflow: hidden
  section:first-child
    border-top-right-radius: 10px
    border-top-left-radius: 10px
  section:last-child
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
  .caption
    font-weight: normal
    background-color: transparentize($palered, 0.6)
    padding: 5px
    display: flex
    align-items: center
    column-gap: 10px
    .amount
      display: flex
      justify-content: center
      align-items: center
      flex-shrink: 0
      border-radius: 50%
      background-color: white
      height: 18px
      width: 18px
      font-size: 12px
      color: $textgrey
    .text
      margin: auto 0
      font-size: 12px
      height: 13.6px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      // flex-grow: 1fr
    &.open .text
      overflow: auto
      white-space: normal
      height: auto
    .chevron
      color: $textgrey
      font-size: 10px
      width: 18px
      height: 18px
      display: flex
      align-items: center
      margin-left: auto
    &.open .chevron
      transform: scaleY(-1)
  .addresses
    background-color: $lightgrey
    color: $textgrey
    font-size: 12px
    padding: 5px
    // padding-left: 15px
    display: none
    .address
      background-color: #fff
      padding: 1px 3px
      margin: 3px
      display: flex
      align-items: center
      .address_name
        flex-grow: 1
      .address_remove
        width: 12px
        height: 12px
        display: flex
        justify-content: center
        align-items: center
        color: $red
    &.open
      display: block

#street_input_wrapper
  display: flex
  #street_input_indicator
    width: 5px
    height: 22.4px
    margin-right: 5px
    background-color: $midlightgrey
  #street_input
    height: 22.4px
    margin: 1px
    margin-left: 0
    width: 120px
    font-size: 16px
    padding: 2px
    padding-bottom: 1px
    padding-left: 3px
    outline: none
    border: 1px solid $textgrey
    border-radius: 3px
    transition: 0.5s
    margin-right: 5px
    color: $darkgrey
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif
    &:focus
      border: 1px solid $green
  #street_input_checkmark
    width: 22.4px
    height: 22.4px
    display: flex
    justify-content: center
    align-items: center
    color: $green
    border: 2px solid $green
    border-radius: 5px
    margin: 1px 0
    pointer-events: all
    transition: 0.5s
    &.hidden
      pointer-events: none
      opacity: 0
    &.grey
      pointer-events: none
      color: $grey
      border-color: $grey
